# --- Nền tảng Web ---
fastapi~=0.115.8
gunicorn~=23.0.0
uvicorn[standard]~=0.34.0
python-multipart~=0.0.20

# --- Cơ sở dữ liệu ---
sqlalchemy~=2.0.37
psycopg2-binary~=2.9.10

# --- Xác thực & Bảo mật ---
passlib[bcrypt]~=1.7.4
python-jose[cryptography]~=3.5.0

# --- Xử lý file & Báo cáo ---
python-docx~=1.2.0
pypdf~=5.8.0
PyMuPDF~=1.26.3
pillow~=11.3.0
fpdf2
lxml~=6.0.0
weasyprint~=66.0
reportlab~=4.4.3
jinja2~=3.1.6

# --- API & Tiện ích khác ---
google-generativeai
python-dotenv~=1.1.1
email-validator~=2.2.0
requests~=2.32.4
beautifulsoup4~=4.13.4
playwright